{% extends "layout.html" %}

{% block title %}
    Cs50 Finance
{% endblock %}

{% block main %}
<div class="table-container">
    <table class="table table-striped">
        <tr>
            <th>Type</th>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Date and Time</th>
        </tr>
        {% for row in transactions %}
            <tr>
                <td>{{row.type}}</td>
                <td>{{row.symbol}}</td>
                <td>{{row.shares}}</td>
                <td>{{row.price}}</td>
                <td>{{row.timestamp}} GMT</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}