{% extends "layout.html" %}

{% block title %}
    Stock Sim
{% endblock %}

{% block main %}
<div class="table-container">
    <table class="table table-striped">
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        {% for row in data %}
            <tr>
                <td>{{row.symbol}}</td>
                <td>{{row.name}}</td>
                <td>{{row.shares}}</td>
                <td>{{row.price}}</td>
                <td>{{row.total}}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Cash</td>
            <td>{{ cash_usd }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total</td>
            <td>{{ gt_usd }}</td>
        </tr>
    </table>
</div>
{% endblock %}